{% extends 'layout.sortie.html.twig' %}

{% block main %}
<div class="divAdmin">
   <h1 class="adminTitre1">Fausse Page Administrateur</h1>

    <h3 class="adminTitre">Utilisateurs :</h3>
    <label>Afficher les utilisateurs : </label><br><p> (Pour la tenu du site cette accès donne uniquement la possibiité de manipuler de faux compte)</p><button class="btnAdministrateur" ><a href="{{ path('fake_profils') }}">Utilisateurs</a></button><br>
    <label>Créer un nouveau utilisateur : </label><br><p> (Pour la tenu du site cette accès donne uniquement la possibiité de créé de faux compte)</p><button class="btnAdministrateur" ><a href="{{ path('fake_inscription') }}">Inscription</a></button><br>
    <label>Ajouter des utilisateurs par fichier CSV : </label ><button class="btnAdministrateur">CSV (Désactivé pour le moment)</button><br>


    <br><h3 class="adminTitre">Gestions des lieux :</h3>
    <label>Gestions des Campus : </label><button class="btnAdministrateur" ><a  href="{{ path('campus') }}">Campus</a></button><br>
</div>
{% endblock %}

{% block title %}Administrateur{% endblock %}