
<div id="nav">
        <a class="aMenu" href="{{ path('accueil') }}">Accueil</a>
        <a class="aMenu" href="{{ path('administrateur') }}">Administrateur</a>
        <a class="aMenu" href="{{ path('logout') }}">Se Déconnecter</a><br>
</div>

