{% extends 'layout.concours.html.twig' %}

{% block main %}
    <div id="formProfil">
        <h2 id="h2Inscription">Inscription</h2>
        <div >
            <div id="formClient">
                {{ form_start(formInscription) }}
                {{ form_widget(formInscription) }}


            </div>

            <div id="btnProfil">
                <button type="submit" id="submit" name="submit">Enregistrer</button>
                <button type="reset" id="reset" name="reset">Annuler</button><br><br>
            </div>
            {{ form_end(formInscription) }}

        </div>
    </div>

{% endblock %}
{% block title %}Inscription{% endblock %}